// $black: #000;
// $white: #fff;
// $geel: yellow;

// $gap: 20px;
// $fontSize: 16px;

$background: #3b4664;

// Theme 1

$text1: #fffeff;
$buttons1: #eae3d9;
$buttonsshadow1: #eae3db;
$textfield1: #181f32;
$red: #cd3f31;
$darkred: #96271c;
$lightpurple1: #64719b;
$purpleborder1: #414e71;
